<div class="frame">
  <div class="all-quotes">
    <% if !@quotes.empty? %>
      <ul>
        <% @quotes.each do |q| %>
          <%= render partial: 'quotes/quote_summary', locals: {q: q} %>
        <% end %>
      </ul>
    <% else %>
      <h3 id="empty">Currently there are no quotes to show</h3>
    <% end %>
  </div>
</div>
