<div class="frame">
  <div class="all-quotes">
    <% if !@quotes.empty? %>
      <ul>
        <% @quotes.each do |q| %>
          <div class="quote" id="quote-<%= q.id%>">
            <%= render partial: 'quotes/quote_summary', locals: {q: q} %>
          </div>
        <% end %>
      </ul>
    <% else %>
      <h3>Currently there are no quotes to show</h3>
    <% end %>
  </div>
</div>
