<h1>Edit Quote:</h1>

<br><br><br><br><br><br><br>

<div class="frame">
  <div class="new-quote-form">
    <%= render partial: 'form', locals: { scientist: @scientist, quote: @quote} %>
  </div>
</div>
