<h1>Quote</h1>

<br><br><br><br>

<div class="frame">
  <div id="jolly_quote_div">
    <h4>Are you ready for it?</h4>
  </div>
</div>

<br>

<div id="back-button">
  <%= link_to 'Jolly button', jolly_path, id: "jolly_button", class: "btn btn-primary" %>
</div>
