<div class="frame">
  <div class="intro">
    <% if !@corollaries.empty? %>
      <ul>
        <% @corollaries.each do |c| %>
          <%= render partial: 'corollaries/corollary_summary', locals: {c: c} %>
        <% end %>
      </ul>
    <% else %>
      <h3 id="empty-list" style="text_align: middle;">No Corollaries to display</h3>
    <% end %>
  </div>
</div>
