<h1>Corollaries:</h1>

<br><br><br><br><br><br><br>

<%= render partial: 'corollaries_display', locals: {corollaries: @corollaries} %>

<div class="back-button">
  <%= link_to "New Corollary", new_theorem_corollary_path(@theorem, @corollary), class: "btn btn-primary", id: "button"%>
</div>
