<h1>Create New Corollary:</h1>

<br><br><br><br><br><br>

<div class="frame">
  <div class="intro">
    <%= render partial: 'form', locals: { corollary: @corollary, theorem: @theorem } %>
  </div>
</div>
