<h1><%= @corollary.name %></h1>

<br><br><br><br><br>

<%= render partial: 'corollary_info', locals: {corollary: @corollary } %><br>

<div class="back-button">
  <%  if current_user.admin %>
    <%= link_to "Edit", edit_theorem_corollary_path(@corollary.theorem, @corollary), class: "btn btn-primary", id: "button" %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Delete", theorem_corollary_path(@corollary.theorem, @corollary), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} , id: "button" %>
  <% end %>
</div>
