<ul>
  <% @areas.each do |a| %>
    <% if a.subject_id %>
      <h3><%= link_to a.name, subject_area_path(a.subject, a) %></h3><br>
      <h3>Subject: </h3><h4><%= link_to a.subject.name, a.subject %></h4><br>
      <p>----------------------------------------</p>
    <% end %>
  <% end %>
</ul>
