<h2>Scientists:</h2>

<br>

<% if current_user.scientists.count > 0 %>
  <% current_user.scientists.each do |s| %>
    <h4><%= link_to s.full_name, s %></h4><br>
  <% end %>
<% else %>
  <h4>Go save your favorite scientists!</h4>
<% end %>
