<h2>Theorems:</h2>

<br>

<% if current_user.theorems.count > 0 %>
  <% current_user.theorems.each do |t| %>
    <h4><%= link_to t.name, t %></h4><br>
  <% end %>
<% else %>
  <h4>Go save your favorite theorems!</h4>
<% end %>
