<h1>Areas created:</h1>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="areas-created">
    <%= render partial: 'area_creations', locals: {areas: @areas} %>
  </div>
</div>
</h3>
