<h1>Our Users:</h1>

<br><br><br><br><br>

<div class="frame">
  <div class="index">
    <ul>
      <% @users.each do |user| %>
        <h4><%= link_to user.email, user %></h4>
      <% end %>
    </ul>
  </div>
</div>
