<h1>Scientists created:</h1>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="scientists-created">
    <%= render partial: 'scientists_creations', locals: {scientists: @scientists} %>
  </div>
</div>
