<% if current_user = @user %>
  <h2>Welcome, <%= current_user.email %></h2>
<% else %>
  <h2> <%= @user.email %>'s Profile</h2>
<% end %>

<div id="user-creations">
  <div id="user-areas">
    <h3>Number of Areas added: </h3>
  </div>
  <div id="user-scientists">
    <h3>Number of Scientists added: </h3>
  </div>
  <div id="user-theorems">
    <h3>Number of Theorems added: </h3>
  </div>
</div>

<div id="saved-theorems">
  <h3>Favourites: </h3><br>
  <ul>

  </ul>
</div>
