<h1>Subjects created:</h1>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="subjects-created">
    <%= render partial: 'subjects_creations', locals: {subjects: @subjects} %>
  </div>
</div>
