<h1>Theorems created:</h1>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="theorems-created">
    <%= render partial: 'theorems_creations', locals: {theorems: @theorems} %>
  </div>
</div>
