<div id="left">
  <% if !@scientists.empty? %>
    <% @scientists.each do |s| %>
      <h3><%= link_to s.full_name, s %></h3><br>
    <% end %>
  <% else %>
    <h3>Currently no scientists have been created today. Be the first today to <%= link_to "A new one", scientists_path %>!</h3>
  <% end %>
</div>
<div id="right">
  <% if !@theorems.empty? %>
    <% @theorems.each do |t| %>
      <h3><%= link_to t.name, t %></h3><br>
    <% end %>
  <% else %>
    <h3>Currently no theorems have been created today. Be the first today to <%= link_to "A new one", theorems_path %>!</h3>
  <% end %>
</div>
