<h1>Theorem Check </h1>

<br><br><br><br><br>

<%= render partial: 'carousel' %>

<br><br>

<div class="frame">
  <div class="intro">
    <h3>This community is for all of you lovers of science, in all of its aspects. While looking for scintists, theorems and saving your favorites, help us enlarging our database creating new ones!</h3><br>
  </div>
</div>
