<div class="frame">
  <div id="theorems">
    <h2>Theorems: </h2>

    <ul>
      <% @theorems.each do |t| %>
        <li><h3><%= link_to t.name, scientist_theorem_path(t.scientist, t) %></h3></li>
        <h4><%= truncate t.statement %></h4><br>
        <strong><p>Scientist: <%= link_to t.scientist.full_name, t.scientist %></p></strong>
        <p>----------------------------------------</p>
      <% end %>
    </ul>
  </div>
</div>
