<div class="frame">
  <div id="theorems" style="text-align:center;">
    <% if @theorems.count > 0 %>
      <h2>Theorems: </h2>


        <% @theorems.each do |t| %>
          <h3><%= link_to t.name, scientist_theorem_path(t.scientist, t) %></h3>
          <h4><%= truncate t.statement %></h4><br>
          <strong><p>Scientist: <%= link_to t.scientist.full_name, t.scientist %></p></strong>
          <div id="line" style="margin-left:auto;margin-right:auto;"></div>
        <% end %>

    <% else %>
      <h3 class="center">Currently there are no theorems under this specific area</h3>
    <% end %>
  </div>
</div>
