<h1>Edit <%= @area.name %>: </h1>

<br><br><br><br><br><br><br>

<div class="frame">
  <div class="edit-area-form">
    <%= render partial: 'form', locals: {subject: @subject, area: @area} %>
  </div>
</div>
