<h1><%= @area.name %></h1>

<br><br><br><br><br><br><br><br>

<%= render partial: 'theorems', locals: {area: @area, theorems:@theorems} %>

<%= link_to "Back", @subject, class: "btn btn-primary", id: "button"%>
