<div class="frame">
  <div id="areas" style="text-align: center;">
    <% if @subject.areas.count > 0 %>
      <ul>
        <% @subject.areas.each do |a| %>
          <% if a.id %>
            <%= render partial: 'area', locals: {a: a} %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <h3 id="empty-list" style="text-align: center">This subject has currently no areas</h3>
      </ul>
    <% end %>
  </div>
</div>
