<div class="frame">
  <div id="areas">
    <% if @subject.areas.count > 0 %>
      <ul>
        <% @subject.areas.each do |a| %>
          <% if a.id %>
            <li><h3><%= link_to a.name, subject_area_path(@subject, a) %></h3></li><br>
            <div class="admin-info">
              <% if current_user.admin? %>
                <strong><p>Created by: <%= link_to a.created_by, user_by_email(a.created_by) %></p></strong>
                <strong><%= link_to "Edit", edit_subject_area_path(@subject, a), class: "btn btn-primary btn-xs" %>  <%= button_to "Destroy", subject_area_path(@subject, a), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %></strong></strong>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <h3 style="text-align: center">This subject has currently no areas</h3>
    <% end %>
  </div>
</div>
