<div class="subjects">
  <ul>
    <% @subjects.each do |s| %>
      <li><h3><%= link_to s.name, s %></h3></li><br>
      <div class="admin-info">
        <% if current_user.admin? %>
          <strong><p>Created by: <%= s.created_by %></p></strong>
          <strong><%= link_to "Edit", edit_subject_path(s) %> - <%= link_to "Destroy", s, method: :delete, data: {confirm: "Are you sure?"} %></strong>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
