<div class="frame">
  <div class="subjects">
    <ul class="subjects-list" style="text-align: center;">
      <% @subjects.each do |s| %>
        <div class="subject" id="subject-<%= s.id%>">
          <%= render partial: 'subject', locals: {s: s} %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
