<h1>Subjects:</h1>

<br><br><br><br><br><br><br><br>

<%= render partial: 'subjects', locals: {subjects: @subjects} %>

<br><br>

<div class="frame">
  <div class="container-fluid text-center" id="new-subject-form">
    <strong><h3>Add new Subject:</h3></strong>
    <%= render partial: 'form', locals: {subject: @subject} %>
  </div>
</div>

<script id="subject-template" type="text/x-handlebars-template">
  <li class="subject" id="subject-{{id}}">
    <h3><a href="/subjects/{{id}}"></a></h3>
    <div class="admin-info"></div>
  </li>
</script>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>
