<h1>Subjects:</h1>

<br><br><br><br><br><br><br><br>

<%= render partial: 'subjects', locals: {subjects: @subjects} %>

<br><br>

<div class="frame">
  <div class="container-fluid text-center" id="new-subject-form">
    <strong><h3>Add new Subject:</h3></strong>
    <%= render partial: 'form', locals: {subject: @subject} %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/subjects', values);

      posting.done(function(data) {
        var subject = data;
        var id = subject["id"]
        var name = <a href=`/subjects/${id}`>subject["name"]</a>
        $("#subjectName").text(name);
      });
    });
  });
</script>
