<% if resource_save?(resource) %>
  <div class="save-favorites-button">
    <%= button_to "Save", :action => 'save_theorem', class: "btn btn-primary" %>
  </div>
<% else %>
  <div class="unsave-favorites-button">
    <%= button_to "Remove from Favorites", :action => 'unsave_theorem', class: "btn btn-primary" %>
  </div>
<% end %>
</div>
