<% if resource_save?(resource) %>
  <div class="save-favorites-button">
    <%= link_to "Save", {:action => save(resource)}, class: "favs_green" %>
  </div>
<% else %>
  <div class="unsave-favorites-button">
    <%= link_to "Remove from Favorites", {:action => unsave(resource)}, class: "favs_red" %>
  </div>
<% end %>
</div>
