<div class="frame">
  <div class="all-theorems">

    <ul>
      <% if !@theorems.empty? %>
        <% @theorems.each do |t| %>
          <%= render partial: 'theorem_summary', locals: {theorem: t } %><br>
        <% end %>
      <% else %>
        <h3 id="empty-space">Currently there are no theorems to show</h3>
      <% end %>
    </ul>

  </div>
</div>
