<div class="frame">
  <div class="all-theorems">

    <ul>
      <% @theorems.each do |t| %>
       <%= render partial: 'theorem_summary', locals: {theorem: t } %><br>
      <% end %>
    </ul>

  </div>
</div>
