<div class="frame">
  <div class="all-theorems">

    <ul>
      <% @theorems.each do |t| %>
        <div class="theorem" id="theorem-<%= t.id%>">
          <%= render partial: 'theorem_summary', locals: {theorem: t } %><br>
        </div>
      <% end %>
    </ul>

  </div>
</div>
