<h1>Edit <%= @theorem.name %>:</h1>

<br><br><br><br><br><br><br>

<div class="frame">
  <div class="new-theorem-form">
    <%= render partial: 'form', locals: { scientist: @scientist, theorem: @theorem} %>
  </div>
</div>
