<h1>Create New Theorem:</h1>

<br><br><br><br><br><br>

<div class="frame">
  <div class="new-theorem-form">
    <%= render partial: 'form', locals: { scientist: @scientist, theorem: @theorem, area: @area, subject: @subject} %>
  </div>
</div>
