<br><br>
<div class="frame">
  <div class="new-theorem-form">
    <% if @scientist %>
      <%= render partial: 'form', locals: { scientist: @scientist, theorem: @theorem, area: @area} %>
    <% else %>
      <%= render partial: 'classic_form', locals: { theorem: @theorem, scientist: @scientist, area: @area } %>
    <% end %>
  </div>
</div>
