<h1>Create New Theorem:</h1>

<br><br><br><br><br><br>

<div class="frame">
  <div class="new-theorem-form">
    <% if @scientist %>
      <%= render partial: 'form', locals: { scientist: @scientist, theorem: @theorem, area: @area, subject: @subject} %>
    <% else %>
      <%= render partial: 'classic_form', locals: { theorem: @theorems, cientist: @scientist } %>
    <% end %>
  </div>
</div>
