<h1><%= @theorem.name %></h1>

<br><br><br><br><br>

<%= render partial: "fav_buttons", locals: {resource: @theorem} %>

<%= render partial: 'theorem_info', locals: {theorem: @theorem } %><br>

<div class="back-button">
  <%= link_to "See Corollaries", theorem_corollaries_path(@theorem), class: "btn btn-primary", id: "button"%>
</div>
