// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

$red: #f98ca4;
$blue: #4ad9db;
$green: #65f283;
$orange: #f5b10b;

$darkblue: #2f3e9c;
$darkred: #9e132c;
$purple:#6e1f58;

$outline: 2px;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: none;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  color: black;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  body {
    background-image: url("https://media.istockphoto.com/vectors/network-design-elements-vector-id501576094");
  }


  h1 {
	font-family: 'CoreCircus', sans-serif;
	text-transform: uppercase;
	font-size: 5vw;
	line-height: 1;
	margin: 10px 10px 40px 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: $red;
	text-shadow:
			-1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple, 1px 1px 0 $purple,
			1px 0px 0px $green, 0px 1px 0px $green, 2px 1px 0px $green, 1px 2px 0px $green, 3px 2px 0px $green, 2px 3px 0px $green, 4px 3px 0px $green, 3px 4px 0px $green, 5px 4px 0px $green,
			3px 5px 0px $purple, 6px 5px 0px $purple,
			-1px 2px 0 black, 0 3px 0 $purple, 1px 4px 0 $purple, 2px 5px 0px $purple,
			2px -1px 0 $purple, 3px 0 0 $purple, 4px 1px 0 $purple, 5px 2px 0px $purple, 6px 3px 0 $purple, 7px 4px 0 $purple,
		10px 10px 4px #dac249;
}

  .button_to,
   .button_to div {
    display: inline;
  }

  .navbar-inverse {
    background-color: black;
    border-color: #090909;
  }

  .navbar-inverse .navbar-brand {
    font-family: 'Futura';
    text-transform: uppercase;
    color: #f7ff00;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
  }

  .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px yellow;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   }

  .frame {
    border: 5px solid black ;
    width: 60%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #00FE7F;
  }
