// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: none;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  color: black;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  body {
    background-image: url("https://media.istockphoto.com/vectors/network-design-elements-vector-id501576094");
  }

  a {
    color: black;
  }

  h1 {
    font-size: 100px;
    font-family: somethingfancy_or_not, arial; /* These two can be anything you like */
    /* Here’s where the fun starts */
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to (rgba(0,0,0,1)));
  }

  .admin-info {
    color: #434343;
  }

  .admin-info a {
    color: #434343;
  }
