// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

$red: #f98ca4;
$blue: #4ad9db;
$green: #65f283;
$orange: #f5b10b;

$darkblue: #2f3e9c;
$darkred: #9e132c;
$purple:#6e1f58;

$outline: 2px;

$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 60px;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
  main {
    @extend .container;
    background-color: none;
    padding-bottom: 80px;
    width: 100%;
    margin-top: 51px; // accommodate the navbar
    color: black;
    }
  section {
    @extend .row;
  }

  body {
    background-image: url("https://media.istockphoto.com/vectors/network-design-elements-vector-id501576094");
  }


  h1 {
	font-family: 'CoreCircus', sans-serif;
	text-transform: uppercase;
	font-size: 5vw;
	line-height: 1;
	margin: 10px 10px 40px 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: $red;
	text-shadow:
			-1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple, 1px 1px 0 $purple,
			1px 0px 0px $green, 0px 1px 0px $green, 2px 1px 0px $green, 1px 2px 0px $green, 3px 2px 0px $green, 2px 3px 0px $green, 4px 3px 0px $green, 3px 4px 0px $green, 5px 4px 0px $green,
			3px 5px 0px $purple, 6px 5px 0px $purple,
			-1px 2px 0 black, 0 3px 0 $purple, 1px 4px 0 $purple, 2px 5px 0px $purple,
			2px -1px 0 $purple, 3px 0 0 $purple, 4px 1px 0 $purple, 5px 2px 0px $purple, 6px 3px 0 $purple, 7px 4px 0 $purple,
		10px 10px 4px #dac249;
  }

  .button_to,
   .button_to div {
    display: inline;
  }

  .frame {
    border: 5px solid black ;
    width: 60%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #00FE7F;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        position: relative;
        a {
          display: block;
          padding: 0 20px;
          line-height: $nav-height;
          border-color: #090909;
          text-decoration: none;
          font-family: 'Futura';
          text-transform: uppercase;
          color: #f7ff00;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
          text-align: center;
          &:hover {
            -webkit-stroke-width: 5.3px;
            -webkit-stroke-color: #FFFFFF;
            -webkit-fill-color: #FFFFFF;
            text-shadow: 1px 0px 20px yellow;
            -webkit-transition: width 0.3s; /*Safari & Chrome*/
            transition: width 0.3s;
            -moz-transition: width 0.3s; /* Firefox 4 */
            background-color: white;
          }
          &:not(:only-child):after {
            color: #f7ff00;
            padding-left: 4px;
          }
        } // Dropdown list
        ul li {
          min-width: 190px;
          a {
            padding: 15px;
            line-height: 20px;
            background: black;
          }
        }
      }
  }
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.dropdown-menu > li > a {
  color: #f7ff00;
  background-color: #262626;
}

@media (max-width: 1161px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-inverse .navbar-nav > li > a {
  color: #f7ff00;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px yellow;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  background-color: white;
  color: black;
}

#fav-scientists, .intro {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
}

.item img {
  max-width: 540px;
  max-height: 480px;
}

#inner {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

div#middle.checkbox label {
  display: middle;
}

form.button_to {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #F4F4F4;
    color: #333333;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .dropdown-menu > li {
    color: #f7ff00;
  }
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#line {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-top: 5px;
  max-width: 350px;
}

.alert.alert-dismissable {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}

a.btn.btn-social-icon.btn-facebook {
    margin-top: 9px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
}
