// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-area-form {
  text-align: center;
}

#theorems {
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

#button {
  text-align: center;
}
