// Place all the styles related to the Scientists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group label {
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.scientists {
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

#button {
  display:inline;;
}
