// Place all the styles related to the Scientists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group label {
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.save-favorites-button input[type=submit] {
    color: black;
    border-color : black;
    background-color: #6ff66f;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.unsave-favorites-button input[type=submit] {
    color: black;
    border-color : black;
    background-color: #f85032;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.scientists {
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

.centered, .new-scientist-form {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

.scientist-theorems {
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
  min-height: 60px;
}

.frame-too {
  border: 5px solid black ;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  background-color: #00FE7F;
}

a#button-top-right.btn.btn-primary {
  float: right;
  margin-right: 5px;
  position: -webkit-sticky;
  position: sticky;
}
 input#centered.btn.btn-default.btn.btn-primary {
   position: relative;
   margin-bottom: 5px;
 }

 a#index-button.btn.btn-primary, .favorites-button {
   margin-top: 20px;
   width: 130px;
   display: flex;
   margin-right: auto;
   margin-left: auto;
 }

a.button.btn-default, input#button.btn.btn-primary {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#button-bottom-right {
  width: 120px;
  float: right;
  margin-right: 15px;
  margin-bottom: 30px;
}
