// Place all the styles related to the Theorems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#theorem-info {
  border: 3px solid black ;
  width: 60%;
  margin: auto;
  padding: 2px;
  background-color: white;
}
