// Place all the styles related to the Theorems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#theorem-info {
  border: 3px solid black ;
  width: 100%;
  margin: auto;
  padding: 2px;
  background-color: white;
  text-align: center;
}

.all-theorems {
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

.new-theorem-form {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

#button-center, #new_theorem_form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 110px;
  text-align: center;
}
