// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.frame-top-right {
  border: 5px solid black ;
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #00FE7F;
}

#user-creations {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

#saved-theorems {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
}

.areas-created, .theorems-created, .subjects-created, .scientists-created {
  text-align: center;
  border: 3px solid black ;
  width: 100%;
  background-color: white;
  color: black;
}

header {
  height: 100px;
	padding: 0 15px;
  border-bottom-color: black;
}

#saved-theorems:after { /*clear float*/
    content: "";
    display: table;
    clear: both;
}
#saved-theorems > div {
    float: left;
    width: 50%;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 5px;
    box-sizing: border-box;
    text-align: center;
}
@media (max-width: 630px) { /*breakpoint*/
    #saved-theorems > div {
        float: none;
        width: 100%;
    }
}

@media (min-width: 630px) { /*breakpoint*/
    #left {
      border-right-style: solid;
      border-right-color: black;
      border-right-width: 5px;
    }
}
