<div class="frame">
  <div class="scientists" style="text-align: center;">
    <ul>
      <% if !@scientists.empty? %>
        <% @scientists.each do |s| %>
          <%= render partial: 'scientist_summary', locals: {scientist: s} %>
        <% end %>
      <% else %>
        <h3>Currently there are no scientists to show</h3>
      <% end %>
    </ul>
  </div>
</div>
