<h1>Edit <%= @scientist.full_name %></h1>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="new-scientist-form">
    <%= render partial: 'edit_form', locals: {scientist: @scientist} %>
  </div>
</div>
