<h1>Scientists: </h1>

<br><br><br><br>

<%= render partial: 'search'%>

<br><br>

<% if @scientists.present? %>
  <%= render partial: 'scientists', locals: {scientists: @scientists} %>
<% else %>
  <p>There are no scientists containing the term(s) <%= params[:search] %>.</p>
<% end %>
