<h1>Scientists: </h1>

<br><br><br><br>

<%= render partial: 'search'%>

<br><br>

<% if @scientists.present? %>
  <%= render partial: 'scientists', locals: {scientists: @scientists} %>
<% elsif !@scientists.present? &&  params[:search] %>
  <div class="frame">
    <div class="scientists" style="text-align: center;">
      <h3>There are no scientists containing the term(s) "<%= params[:search] %>".</h3>
    </div>
  </div>
<% end %>

<br>

<%= link_to "New Scientist", new_scientist_path, class: "btn btn-primary", id: "new_scientist_form" %>

<div id="form_div">
</div>
