<h1 class="form-title">Create New Scientist:</h3>

<br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="new-scientist-form">
    <%= render partial: 'form', locals: {scientist: @scientist} %>
  </div>
</div>
