<h1><%= @scientist.full_name %></h1>

<br><br><br><br><br><br><br><br>

<%= render partial: "fav_buttons", locals: {resource: @scientist} %>


<br><br>

<%= render partial: 'scientist_page', locals: {scientist: @scientist} %><br>

<%= link_to "See all theorems", scientist_theorems_path(@scientist), class: "btn btn-primary big-btn", id: "index-button"%>
