<h1>Today's Creations:</h1>

<br><br><br><br><br>

<div class="frame">
  <div id="todays" class="intro">
    <%= render partial: 'todays_new', locals: {scientists: @scientists, theorems: @theorems} %>
  </div>
</div>
