<footer class="footer-distributed">
  <div class="footer-left">
    <h3>M<span>P</span></h3>

    <p class="footer-links">
      <a href="/">Home</a>
    </p>

    <p class="footer-company-name">Matteo Piccini © 2017</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span></span> San Diego, California</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 619 431-7880</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:piccinius@gmail.com">piccinius@gmail.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About me</span>
      I'm a passionate junior web-developer resident in San Diego. After living in Rome all my life, the perfect weather and beautiful sunsets of San Diego won me over!
    </p>
  </div>
</footer>
