  <%# navigation styled for Bootstrap 3.0 %>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TheoremsChecker</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="/">Home</a></li>
          <% if current_user.admin? %>
             <li><a href="/users">Users</a></li>
          <% end %>
          <li><a href="/subjects">Subjects</a></li>
          <li><a href="/scientists">Scientists</a></li>
          <li><a href="/theorems">Theorems</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Favorites <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/fav_scientists'>Scientists</a></li>
              <li><a href='/fav_theorems'>Theorems</a></li>
            </ul>
          </li>
          <li><a href="/quotes">Quotes</a>
          <li><a href="/jolly">Jolly Quote</a>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path%><span class="glyphicon glyphicon-user"></span></li>
          <li><%= link_to "Sign In", new_user_session_path %><span class="glyphicon glyphicon-log-in"></li>
          <li><%= link_to "Sign in With Facebook", user_facebook_omniauth_authorize_path %></li>
          <a class="btn btn-social-icon btn-twitter" id="inner" href="user_twitter_omniauth_authorize_path">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="btn btn-social-icon btn-facebook" id="inner" href="user_facebook_omniauth_authorize_path">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-social-icon btn-github" id="inner" href="user_github_omniauth_authorize_path">
            <span class="fa fa-github"></span>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
