<%# navigation styled for Bootstrap 3.0 %>
<section class="navigation">
  <div class="nav-container">
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="/scientists">Scientists</a>
        <li><a href="/theorems">Theorems</a>
        <li><a href="#!">Favorites</a>
          <ul class="nav-dropdown">
            <li><a href='/fav_scientists'>Scientists</a></li>
            <li><a href='/fav_theorems'>Theorems</a></li>
          </ul>
        </li>
        <li><a href="destroy_user_session_path">Sign Out</a></li>
      </ul>
    </nav>
  </div>
</section>
